@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&family=Merriweather:wght@400;700;900&display=swap');

/* 
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
*/


/*common part css start*/
body {
    max-width: 1920px;
}

.common-heading {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.common-paragraph {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 0;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
div,
section,
img {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
}

/*common part css end*/

/*Header part css start*/
header {
    padding: 0;
    padding: 15px 100px 30px;
}

#banner {
    background: url(../images/Banner-Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
}

.banner-overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
    display: flex;
    justify-content: center;
}

.banner-content {
    max-width: 700px;
    padding: 150px 0;
}

.banner-content p {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
}

.banner-content h3 {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 5px;
}

/*Header part css end*/
/*main part css start*/
main {
    padding: 15px 100px;
}

/*catagories part css start*/
.catagories {
    text-align: center;
    margin: 50px 0;
}

.catagories h2 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
}

.catagories p {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.catagories h3 a {
    text-decoration: none;
    color: #070211;
}

.catagories img {
    width: 802.9px;
    height: 500px;
    margin: 30px 0;
}

/*catagories part css end*/
/*Welcome part css start*/
#welcome {
    background: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    border-radius: 15px;
}

.welcome-overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    border-radius: 15px;
}

.welcome-content {
    display: flex;
    padding: 50px 80px;
    justify-content: space-between;
}

.welcome-picture img {
    height: 364;
    width: 320;
}

.welcome-information h2 {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.welcome-information p {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0 72px 0;
}

.welcome-information a {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 5px;
    border-radius: 5px;
    margin: 0;
    text-decoration: none;
    border: 1px solid white;
}
.welcome-information a:hover {
    background-color: lightgreen;
    color: #F00;
    transition: 0.3s;
}

/*Welcome part css end*/
/*Join now part css start*/
.join-now {
    padding: 70px 0;
    margin: 50px 0px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    ;
}

.join-now-items {
    text-align: center;
}

.join-now-items-description {
    margin-bottom: 60px;
}

.join-now-items-description p {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.join-now-items-description span {
    color: #F00;
}

.join-now-items a {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 15px;
    background-color: #F00;
    text-decoration: none;
    border-radius: 10px;
}
.join-now-items a:hover {
    background-color: lightgreen;
    color: red;
    transition: 0.3s;
}

/*Join now part css end*/
/*Best Offer part css start*/
.offer {
    display: flex;
    justify-content: baseline;
    margin: 60px 0;
}

.offer-left-part {
    width: 30%;
}

.offer-left-part h4 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.offer-left-part h3 {
    margin: 20px 0;
}

.offer-part-image {
    width: 40%;
    margin: 0 40px 40px 40px;
    display: flex;
    justify-content: center;
}

.offer-part-image img {
    border: 10px solid red;
    border-radius: 50%;
    padding: 20px;
    height: 300px;
    width: 300px;
}

.offer-right-part {
    width: 30%;
}

.offer-right-part h3 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.offer-right-part p {
    margin: 20px 0;
}

/*Best Offer part css end*/
/*Discount part css start*/
.discount {
    margin: 100px 0;
}

.discount-area {
    display: flex;
    justify-content: center;
}

.discount-info {
    text-align: center;
    max-width: 700px;
}

.discount-banner {
    height: 700px;
    text-align: right;
    position: relative;
}

.discount-info h4 {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.discount-banner-girl {
    position: absolute;
    right: 0;
    bottom: 220px;
}

.rectangle {
    position: absolute;
    bottom: 0;
    right: 0;
}

.gift-box {
    position: absolute;
    left: 120px;
    bottom: 70px;
    z-index: 1;
    height: 500px;
    width: 570px;
    fill: radial-gradient(50% 50% at 50% 50%, #194142 0%, #000 100%);
}

.half-discount {
    position: absolute;
    bottom: 350px;
    right: 325px;
    z-index: 2;
    height: 200px;
    width: 200px;
}

.discount-info h2 {
    color: #070211;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    margin: 15px 0;
}

.discount-info h2 span {
    color: #F00;
}

/*Discount part css end*/
/*Portfolio part css start*/
.portfolio-info {
    max-width: 900;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.portfolio-info h4 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.portfolio-info h2 {
    margin: 10px 0;
}

.portfolio-first-row-img {
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.portfolio-second-row-img {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

/*Portfolio part css end*/
/*subscribe part css start*/
.subscribe {
    margin: 50px 0;
    padding: 80px 150px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.subscribe-info h2 {
    margin: 15px 0;
}

.subscribe-input {
    margin: 30px 0;
}

.subscribe-input input {
    padding: 15px 200px 15px 25px;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-right: 0;
}

.subscribe-input a {
    text-decoration: none;
    padding: 13px 25px 15px;
    background-color: #F00;
    color: white;
    margin-left: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: none;
}
.subscribe-input a:hover {
    border: 3px solid purple;
    padding: 10px 22px 12px;
}

/*subscribe part css end*/
/*main part css end*/
/*footer part css start*/
footer {
    background: #070211;
    padding: 40px 100px;

}

.footer-description-area {
    display: flex;
    justify-content: space-between;

}

.footer-description-area p {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.contact {
    display: flex;
}

.contact img {
    height: 35px;
    width: 35px;
    padding: 0;
    margin: 0 5px 0 0;
}

.footer-icon-area {
    display: flex;
    justify-content: center;
}

.footer-icon-area img {
    height: 50px;
    width: 50px;
    margin: 30px 8px;
}

.footer-icon-area img:hover {
    height: 60px;
    width: 60px;
    transition: 0.3s;
    border: 4px solid white;
    border-radius: 50%;
}

.copyright-area {
    display: flex;
    justify-content: space-between;
}

.copyright-area p {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

/*footer part css end*/